{#- TODO: add regular expression pattern matching. -#}
{%- set items = [] -%}
{%- for item in pps_read_credential_results -%}
  {%- set ns = namespace(item_pass=true) -%}
  {%- for filter_key, filter_val in pps_search.filters.iteritems() -%}
    {%- if filter_key in ("Username", "Url", "Password", "Notes", "Name", "Id", "GroupId") -%}
      {#- DONE: str -#}
      {%- if item[filter_key] != filter_val -%}
        {%- set ns.item_pass = false -%}
      {%- endif -%}
    {%- elif filter_key in ("Path", "FullPath") -%}
      {#- DONE: str -#}
      {%- if item["Path"]|regex_replace('/$', '') != filter_val|regex_replace('/$', '') -%}
        {%- set ns.item_pass = false -%}
      {%- endif -%}
    {%- elif filter_key in ("HasModifyEntriesAccess", "HasViewEntryContentsAccess") -%}
      {#- TODO: bool -#}
    {%- elif filter_key in ("CustomUserFields", "CustomApplicationFields") -%}
      {#- TODO: dict -#}
    {%- elif filter_key in ("Tags", "Attachments") -%}
      {#- DONE: list -#}
      {%- for filter_val_x in filter_val -%}
        {%- if filter_val_x not in item[filter_key] -%}
          {%- set ns.item_pass = false -%}
        {%- endif -%}
      {%- endfor -%}
    {%- elif filter_key in ("Modified", "Created", "Expires") -%}
      {#- TODO: datetime.strptime() or None -#}
    {%- endif -%}
  {%- endfor -%}
  {%- if ns.item_pass == True %}{{ items.append(item) }}{%- endif -%}
{%- endfor -%}
{{ items }}